# Ignore all vendor folders recursively
**/vendor/

# Composer (local installer)
composer.phar

# Environment files
**/.env

# Node modules
**/node_modules/

# Logs
*.log
**/debug_log.txt

# OS files
.DS_Store
Thumbs.db

# IDE files
/.idea/
/*.iml
/.vscode/

# Temporary/cache files
/tmp/
/cache/
*.cache
